syntax: glob
*.pyc
*.pyo
*~
*.o
*.egg-info
*.dll
*.swp
*.pkl
*.orig
*.komodo*
.DS_Store
build
dist
reference
reference/**
doc/_build
doc/_build/**
MANIFEST
.komodo*
*.log
*.csv
*.scr
*.bat
*.vpv
*.txt
*.xls*
*.un~
*.blend*
build/**
.idea
!ahk/AutoHotkey.dll
!LICENSE*
